section.book-detail {
  height: 100%;

  header {
    position: relative;
    height: 100%;
    text-align: center;
    overflow: hidden;

    img {
      margin-top: 20px;
      border-radius: 2px;
      width: 60%;

      @media #{$media-query-phone} {
        width: 80%;
        margin-top: 10px;
      }
    }

    h1 {
      font-size: 36px;
      padding: 20px 10px 10px 10px;
      line-height: 1.4;

      @media #{$media-query-phone} {
        font-size: 28px;
        padding: 20px;
      }
    }

    h2 {
      font-size: 24px;
      padding-bottom: 40px;

      @media #{$media-query-phone} {
        font-size: 20px;
      }
    }

    a {
      display: inline-block;
      border: 2px solid white;
      border-radius: 5px;
      background-color: transparent;
      color: white;
      padding: 15px 30px;
      font-size: 20px;
      font-family: Tiempos, serif;
      margin: 30px;
      text-decoration: none;
    }

    &:before, &:after {
      @include size(20px 3px);
      position: absolute;
      content: '';
      background-color: white;
      bottom: 16px;
      left: 50%;
      border-radius: 6px;
    }

    &:before {
      transform: rotate(20deg);
      margin-left: -17px;
    }

    &:after {
      transform: rotate(-20deg);
    }
  }

  .description-container {
    padding: 100px 0;
    color: #333;
    background-color: white;
    font-size: 26px;
    line-height: 1.4;

    p {
      width: 650px;
      margin: auto;

      @media #{$media-query-phone} {
        width: 80%;
        font-size: 16px;
      }
    }
  }
}
