@import "variables";
@import "reset";
@import "bourbon";
@import "fonts";
@import "search";
@import "bookDetail";

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #181818;
  font-family: Tiempos, serif;
  color: white;

  > header {
    padding: 20px;

    img {
      height: 50px;

      @media #{$media-query-phone} {
        height: 40px;
      }
    }
  }
}

.container {
  height: calc(100% - #{$header-height});

  @media #{$media-query-phone} {
    height: calc(100% - #{$header-height-phone});
  }
}

.loading {
  @include size(40px);
  display: none;
  background-image: url(../images/loading.svg);

  &.show { display: block; }

  @media #{$media-query-phone} {
    @include size(30px);
    background-size: 30px;
  }
}
