@import "reset";
@import "bourbon";
@import "fonts";
@import "search";
@import "bookDetail";

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #181818;
  font-family: Tiempos, serif;
  color: white;
}

.container {
  height: 100%;
}

.loading {
  display: none;
  width: 40px;
  height: 40px;
  background-image: url(../images/loading.svg);

  &.show { display: block; }
}
